:host {
  font-family: sans-serif;
  border: 2px solid var(--color-primary, black);
  ;
  margin: 2rem;
  display: block;
  padding: 2rem;

}

form input {
  font: inherit;
  color: var(--color-primary, black);
  ;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus {
  outline: none;
}

form button {
  color: var(--color-secundary, blueviolet);
  border: var(--color-secundary, blueviolet);
  background: rgb(245, 119, 182);
  padding: 0.5rem 1rem;

}

form button:hover {
  background: var(--color-secundary-highlight, hotpink);
}

form button:active {
  color: white;
  border: white;
}

form button:disabled {
  background: #ccc;
  color: #999;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

li:active,
li:hover {
  cursor: pointer;
  color: var(--color-primary-inverse, white);
  background: var(--color-primary, black);
}

li:active {
  font-size: 1.02rem;
}
